body{
	background: url(../img/dark.jpg) center;
	max-width: 1000px;
	margin: 0 auto;
	font-family: sans-serif;
	line-height: 1.4;
	text-align: justify;
}

main{
	background: #fff8;
	border: 1px solid black;
	padding: 5px 40px;
	margin-top: 5%;
	border-radius: 12px 12px 0px 0px;
}

td {
	padding: 8px;
}

footer {
	border: 1px solid black;
	font-size: 14px;
	background-color: #1c1717cc;;
	padding: 15px 40px;
	color: rgb(167, 167, 167);
	border-radius: 0px 0px 12px 12px;
	text-align: left;
}

footer h3{
	font-size: 16px;
}

footer a {
	color:rgb(167, 167, 167);
}

a {
	color: #2c0001;
}

.concerts {
	margin: 30px 0;
	text-align: center;
	width: 100%;
}

.concerts table{
	background: #dd574e;
	border-radius: 10px;
	padding: 15px;
	margin: 0 auto;
}
.show-rock {
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.padding30{
	padding: 0px 0px 5% 0px;
}

.list {
	padding: 0;
	list-style-type: none;
}
